  <div class="card">
<li data-js-tutorial-id=<%= tutorial.id %>>

    <%= tutorial.title %>
    <%= link_to (tutorial.url), tutorial.url, target: "_blank" %>

     <%= link_to "Delete", tutorial, remote: true,
      method: :delete,
      data: { confirm: "Are you sure you want to delete '#{tutorial.title}'?" }, class: 'btn-sm btn btn-outline-danger'
      %>


</li>
  </div>
